body{
  width: 1140px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-image: url(images/background.jpg);
  background-size: cover;
  color: aliceblue;
  background-color: black;
  text-align:center;
  padding: 30px;
}

table{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.person{
  background-image: url(images/background1.png);

}
.name{
  text-transform: uppercase;
}
.container{
  max-width: 75%;
  margin: 0 auto;
}
a.button{
  min-width: 100px;
    /*Минимальная ширина кнопки*/
    text-align: center;
    /*выравнивание текста по центру*/
    display: inline-block;
    /* дл размещения кнопки с новой строки от ширины экрана*/
    padding: 50px;
    background-color: brown;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    margin: 12px 0;
  
}
form{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.content1 {
  position: relative;
  justify-content: center;
  text-align: center;
}



